@import "./import/variables.scss";

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

/**
* Main card
*/

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $darkBlue;
  justify-content: center;
  align-items: center;

  #container {
    width: 22rem;
    height: 23rem;
    background-color: $darkGrayishBlue;
    border-radius: 10px;
  }

  &__titleSection {
    background-color: $darkGrayishBlue;
    color: $neonGreen;
    position: relative;
    top: 3rem;
    text-align: center;
    letter-spacing: 0.25rem;

    &Header {
      font-size: small;
    }
  }

  &__adviceSection {
    background-color: $darkGrayishBlue;
    color: $lightCyan;
    font-size: $font;
    font-weight: 800;
    position: relative;
    top: 4rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: center;
    height: 12rem;
    overflow-y: auto;
  }

  &__adviceSectionDivider {
    text-align: center;
    position: relative;
    top: 5rem;
  }

  &__btnSection {
    background-color: $neonGreen;
    position: relative;
    top: 6.5rem;
    border-radius: 6rem;
    width: 4rem;
    height: 4rem;
    text-anchor: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 50px #52ffa8;
    }
  }
  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: $neonGreen;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1400px) {
  .main {
    #container {
      width: 30rem;
      height: 20rem;
    }

    &__adviceSection {
      height: 9rem;
    }

    &__adviceSectionDivider {
      top: 5rem;
    }

    &__btnSection {
      top: 6.5rem;
    }
  }
}
